*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.menu-bar {
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 95px;
    grid-template-columns:200px 303px auto 180px 220px;
    margin: auto;
    margin-bottom: 25px;
    border-bottom: 2px solid rgb(234, 231, 231);
    cursor: pointer;
}

.menu-bar div {
    padding: 20px ;
}
.logo {
    text-align: center;
}
 .logo h1{
    color: #000;
    font-weight:600;
}

.logo:hover , .location:hover  , .btn-login:hover ,.btnCart-main:hover{
    background-color: rgba(228, 228, 228, 0.712);
}

.location {
    color: #000;
    text-align: center;
}

.search-bar{
    text-align: center;
}
.search{
    background-color: rgba(228, 228, 228, 0.712);
    height: 45px;
    width:430px;
    border: none;
    border-radius:5px;
    padding: 10px;
}

.btn-login{
    text-align: center;
}

.login-text{
    font-size: 20px;
    font-weight: 500;
    padding: 2px;
}
.btn-cart{
     overflow: hidden;
}
.cart{
    padding: 11px 40px;
    background-color: rgb(1, 118, 1);
    color:#fff;
    border:none;
    border-radius: 4px;
    font-size:18px ;
}